.lane h1 {
	font-size: 1.25rem;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1rem;
	font-weight: 700;
}

.lane {
	display: grid;
	grid-template-rows: 30px repeat(auto-fit, minmax(50px, max-content));
	gap: 0.5rem;
}
