.card {
	display: grid;
	grid-template-rows: 1fr;
	background: var(--primaryWhite);
	padding: 0.6rem;
	border-radius: var(--cardRadius);
	/* box-shadow: 0px 28px 20px -31px #9b9b9b; */
	/* border: 1px solid #dfdfdf; */
}

.noResult {
	border: 3px dashed #cac9cc;
	color: gray;
	font-weight: 600;
	background-color: transparent;
}

.userContainer {
	display: flex;
	flex-direction: column;
	/* gap: 0.25rem; */
	justify-content: center;
	border-bottom: 1px solid #e3dfe9;
	padding-bottom: 0.4rem;
	line-height: 1;
}

.userContainer span {
	font-weight: 700;
	font-size: 1rem;
}

.userInnerContainer {
	color: #5c5258;
}

.userInnerContainer span {
	font-size: 0.75rem;
	font-weight: 500;
}

.variationContainer {
	display: flex;
	flex-direction: column;
	padding: 0.25rem;
	/* background: #9999ff40; */
	border-radius: 0.3rem;
	line-height: 1.1;
}

.variationContainer p {
	margin: 0;
	font-size: 0.75rem;
}

.variationTitle {
	margin-top: 0;
	font-size: 0.85rem;
	font-weight: 700;
	/* background-color: rgb(255 234 196 / 40%);
	color: orange; */
	/* color: #9999ff; */
	color: black;
	border-radius: 0.25rem;
}

.infoContainer {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.infoWrapper {
	display: flex;
	gap: 0.5rem;
	border-left: 1px solid #e3dfe9;
	border-right: 1px solid #e3dfe9;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.card time {
	font-size: 0.7rem;
	font-weight: 600;
	color: #5c5258;
}

.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.25rem;
	/* background-color: #ececec; */
	/* padding: 0.25rem 0; */
	padding-bottom: 0;
}

.info:first-child span:first-child {
	font-size: 1.15rem;
	font-weight: 700;
	letter-spacing: -0.5px;
	margin-right: 0.05rem;
}

.info:first-child span:last-child {
	font-size: 0.85rem;
}

.info:last-child {
	/* background-color: #ececec;
	padding: 0.5rem;
	border-radius: 5px; */
	gap: 0.75rem;
}

.info span:nth-child(odd) {
	font-size: 0.85rem;
	font-weight: 700;
}

.type {
	font-size: 1rem;
}

.pb {
	font-size: 0.75rem;
	font-weight: 700;
}

.platesContainer {
	/* gap: 0.2rem; */
	display: flex;
	align-items: center;
	gap: 1px;
}

.red {
	background-color: red;
	height: 100%;
	width: 5px;
}

.yellow {
	background-color: rgb(255, 231, 15);
	height: 85%;
	width: 5px;
}

.silver {
	background-color: rgb(204, 204, 204);
	height: 35%;
	width: 3px;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.details span:last-child {
	margin-top: -0.25rem;
	color: #000000ad;
	font-size: 0.65rem;
}
