.card {
	border-radius: 10px;

	display: grid;
	grid-template-rows: 1fr;
	background-color: white;
	background: linear-gradient(
		140deg,
		rgba(255, 255, 255, 0.4),
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	padding: 0.6rem;
	padding-bottom: 0.3rem;
	border-radius: 10px;
	box-shadow: 0px 28px 20px -31px #9b9b9b;
}

.noResult {
	border: 3px dashed #cac9cc;
	color: gray;
	font-weight: 600;
	background-color: transparent;
}

.card p {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.userContainer {
	display: flex;
	flex-direction: column;
	/* gap: 0.25rem; */
	justify-content: center;
	border-bottom: 1px dashed #5c5258;
	padding-bottom: 0.4rem;
	line-height: 1;
}

.userContainer span {
	font-weight: 800;
	font-size: 1rem;
}

.userInnerContainer {
	color: #5c5258;
}

.userInnerContainer span {
	font-size: 0.7rem;
	font-weight: 600;
}

.infoContainer {
	display: flex;
	justify-content: flex-end;
	gap: 0.75rem;
}

.card time {
	font-size: 0.7rem;
	font-weight: 600;
	color: #5c5258;
}

.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.15rem;
	/* background-color: #ececec; */
	padding: 0.25rem 0;
	padding-bottom: 0;
}

.info:first-child span:first-child {
	font-size: 1.25rem;
	font-weight: 700;
}

.info:last-child {
	/* background-color: #ececec;
	padding: 0.5rem;
	border-radius: 5px; */
	gap: 0.75rem;
}

.info span:nth-child(odd) {
	font-size: 1rem;
	font-weight: 700;
}

.type {
	font-size: 1rem;
}

.pb {
	font-size: 0.75rem;
	font-weight: 700;
}

.platesContainer {
	/* gap: 0.2rem; */
	display: flex;
	align-items: center;
	gap: 1px;
}

.red {
	background-color: red;
	height: 100%;
	width: 5px;
}

.yellow {
	background-color: rgb(255, 231, 15);
	height: 85%;
	width: 5px;
}

.silver {
	background-color: rgb(204, 204, 204);
	height: 35%;
	width: 3px;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.details span:last-child {
	margin-top: -0.5rem;
	color: #000000ad;
	font-size: 0.75rem;
}
