.laneContainer {
	display: grid;
	grid-template-columns: repeat(3, minmax(250px, 1fr)) 150px;
	gap: 0.75rem;
}

.userContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.userContainer span {
	font-size: 1.25rem;
	font-weight: 600;
}

.metaData {
	display: flex;
	gap: 0.3rem;
}

.metaData span {
	font-size: 0.75rem;
	font-weight: 600;
	/* color: #707070; */
}

.wrapper {
	display: grid;
	grid-template-columns: 150px 1fr;
	gap: 1.2rem;
}
