.form {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0.75rem;
	margin-top: 0.5rem;
}

.formHeaderTitle {
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.formTitle {
	font-size: 1.25rem;
	font-weight: 600;
}

.description {
	font-size: 0.75rem;
	display: flex;
	justify-content: center;
}

.loadingMessage {
	text-align: center;
	font-size: 1.25rem;
	font-weight: 600;
}

.errorMessage {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	color: red;
	font-weight: 600;
}

.error {
	color: red;
}

.fieldsetContainer {
	border: 0;
	/* background-color: #f0eff3; */
	background-color: #fff8ee;
	border: 1px solid #ffddad;
	border-radius: var(--cardRadius);
}

.fieldsetContainerError {
	background-color: #ffeeee;
	border-color: #ffadad;
}

.inputContainer {
	display: flex;
}

.inputAndLabel {
	display: flex;
	flex-direction: column;
	position: relative;
}

.inputAndLabel:not(:last-child) {
	margin-right: 1rem;
}

.inputAndLabel label {
	margin-bottom: 0.25rem;
	font-weight: 600;
	font-size: 0.85rem;
}

.inputAndLabel input {
	border: 0;
	padding: 1rem;
	border-radius: 10px;
	/* box-shadow: 1px 3px 2px 0px #d5d5d5; */
	box-shadow: 0px 3px 2px 0px #0000001a;
	font-family: "Nunito";
	font-weight: 500;
	font-size: 1rem;
	width: 90px;
	height: 40px;
}

.inputAndLabel svg {
	position: absolute;
	top: 50%;
	transform: translateY(25%);
	left: 10px;
	color: #d5d5d5;
}

.inputAndLabel input::placeholder {
	color: #d5d5d5;
}
