.navigation {
	height: 3rem;
	border-bottom: 1px solid #d5d5d5;
	width: 100%;
	display: flex;
	align-items: center;
}

.navigation ul {
	display: flex;
	justify-content: flex-end;
	width: 700px;
	margin: 0 auto;

	/* Set width based on the whole content. TBD later */
}

.navigation li:not(:last-of-type) {
	margin-right: 1rem;
}
