.filterbar {
	background: var(--primaryWhite);
	border-radius: var(--cardRadius);
	padding: 0.5rem;
	margin: 1rem;
	margin-left: 0;
}

.filterbarContainer {
	border-right: 1px solid #cac9cc;
}

.filterTitle {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 0;
}

.filterList {
	margin-top: 0.5rem;
	/* padding-left: 0.5rem; */
	margin-bottom: 2rem;
}

.filterList {
	margin: 0;
}

.filterList li {
	margin-bottom: 0.75rem;
}
